.Title {
    text-align: center;
    font-size: 75px;
}

.Center {
    text-align: center;
}

.Description {
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: cursive;
    font-style: italic;
}

body {
    background-image: url('/resources/images/pill.jfif');
}