.Top {
    display: inline;
}

.Title { 
    font-size: 75px;
    text-align: center;
    display: inline;
    margin-left: 525px;
}

.Center {
    text-align: center;
}

.Description {
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: cursive;
    font-style: italic;
}

button {
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}

.Help-Button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 550px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.Home-Button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.Center {
    background-image: url(../images/pill.jfif);
    background-repeat: no-repeat;
    background-size: contain;
}

#Red {
    color: red;
}